/**
 * Created by Gabriela Katz
 * Date: 05/05/2016
 */

@charset "utf-8";

.Listagem {
    left: 0px;
    top: 0px;
    #width: 1050px;
    min-height: 529px;
    z-index: 69;
}
.Topo_logo {
    position: absolute;
    left: 0px;
    top: 0px;
    #width: 1050px;
    #height: 529px;
    z-index: 68;
}
.logo_phone2b {
    position: absolute;
    left: 96px;
    top: 11px;
    width: 178px;
    height: 32px;
    z-index: 67;
}
.barra_azul_topo_1 {
    background-color: rgb(28, 47, 59);
    position: absolute;
    left: -2px;
    top: 0px;
    #width: 1052px;
    height: 54px;
    z-index: 66;
}
.Barra_menu {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 64;
}
.Menu {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 63;
}
.Menu_Telefonia {
    position: absolute;
    left: 214px;
    top: 18px;
    z-index: 62;
}
.Menu_Usuarios {
    position: absolute;
    left: 96px;
    top: 18px;
    z-index: 58;
}
.link-empresas {
    font-size: 11px;
    font-family: "Myriad Pro";
    color: rgb(226, 226, 226) !important;
    line-height: 3.455;
    margin-top: 18px;
    position: absolute;
    z-index: 61;
}
.link-colaboradores {
    font-size: 11px;
    font-family: "Myriad Pro";
    color: rgb(226, 226, 226) !important;
    line-height: 3.455;
    margin-top: 18px;
    position: absolute;
    z-index: 57;
}
.ico_phone {
    position: absolute;
    left: 15px;
    margin-bottom: 15px;
    z-index: 56;
}
.ico_users {
    position: absolute;
    left: 26px;
    margin-bottom: 14px;
    z-index: 56;
}
.Busca {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1050px;
    height: 529px;
    z-index: 53;
}
.barra_azul_topo {
    background-color: rgb(37, 63, 80);
    position: absolute;
    left: -2px;
    top: 54px;
    #width: 1052px;
    height: 76px;
    z-index: 51;
}
.employees-list {
    border-radius: 5px;
    position: relative;
    margin-left: 83px;
    margin-right: 86px;
    top: 147px;
    background-color: #ffffff;
    margin-top: 17px;
    z-index: 49;
    width: auto;
}
.cabecalho_tabela {
    z-index: 48;
}
.list-colaboradores {
    font-size: 25px;
    font-family: "Myriad Pro";
    color: rgb(0, 129, 192);
    line-height: 1.52;
    -moz-transform: matrix( 0.82142604463439,0,0,0.8214260446344,0,0);
    -webkit-transform: matrix( 0.82142604463439,0,0,0.8214260446344,0,0);
    -ms-transform: matrix( 0.82142604463439,0,0,0.8214260446344,0,0);
    position: absolute;
    left: 86.889px;
    top: 156px;
    z-index: 47;
}
.ico_mais {
    position: relative;
    margin-left: 19px;
    margin-top: -2px;
    z-index: 46;
}
@media(max-width:400px){
    .ico_mais {
        position: relative;
        margin-left: 6px;
        margin-top: -2px;
        z-index: 46;
    }
    .Menu_Telefonia{
        left: 250px;
    }
    .Menu_Usuarios{
        left: 100px;
    }
    .linha_Azul{
        margin-top: 60px !important;
    }
    .Filtrar{
        right: 23px !important;
    }
}
.linha_Azul {
    border-color: rgb(159, 204, 229);
    border-style: solid;
    margin-left: 24px;
    margin-right: 19px;
    margin-top: 31px;
    height: 0;
    z-index: 45;
}
.input_filtro {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1050px;
    height: 529px;
    z-index: 44;
}
.Filtrar {
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(188, 186, 186);
    line-height: 3.167;
    position: relative;
    width: 148px;
    right: 19px;
    height: 28px;
    z-index: 43;
    top: 18px !important;
}
.input_Filtrar {
    border-width: 1.5px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    border-radius: 3px;
    width: 148px;
    height: 28px;
    z-index: 42;
    padding-left: 10px;
}
.employees-table {
    position: relative;
    /*margin-left: 18px;
    margin-right: 25px;*/
    margin-top: 18px;
    margin-bottom: 75px;
    z-index: 39;
}
.Categorias {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1050px;
    height: 529px;
    z-index: 38;
}
.Empresa {
    font-size: 25px;
    font-family: "Myriad Pro";
    color: rgb(86, 86, 86);
    line-height: 1.52;
    -moz-transform: matrix( 0.47679883594034,0,0,0.46102164502164,0,0);
    -webkit-transform: matrix( 0.47679883594034,0,0,0.46102164502164,0,0);
    -ms-transform: matrix( 0.47679883594034,0,0,0.46102164502164,0,0);
    position: absolute;
    left: 674.538px;
    top: 258.144px;
    z-index: 37;
}
.table-title {
    font-size: 11.53pt;
    font-family: "Myriad Pro";
    color: rgb(86, 86, 86);
    line-height: 1.52;
    z-index: 36;
}
.Nome{
    width: 825px;
    padding-left: 12px !important;
}
.Nomes {
    font-size: 11.53px;
    font-family: "Myriad Pro";
    color: rgb(0, 129, 192);
    line-height: 3.52;
    z-index: 33;
}
.Operadora {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1050px;
    height: 529px;
    z-index: 31;
}
.Apple_Microsoft_Google_Phone2b {
    font-size: 26px;
    font-family: "Myriad Pro";
    color: rgb(68, 68, 68);
    line-height: 3.381;
    -moz-transform: matrix( 0.47679883594034,0,0,0.46102164502164,0,0);
    -webkit-transform: matrix( 0.47679883594034,0,0,0.46102164502164,0,0);
    -ms-transform: matrix( 0.47679883594034,0,0,0.46102164502164,0,0);
    position: absolute;
    left: 671.306px;
    top: 247.175px;
    z-index: 30;
}
.Numeros {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1050px;
    height: 529px;
    z-index: 28;
}
.Linhas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1050px;
    height: 529px;
    z-index: 26;
}
.Linha_cinza_copy_3 {
    border-width: 3px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    position: absolute;
    left: 99px;
    top: 415px;
    width: 834px;
    height: 0;
    z-index: 25;
}
.Linha_cinza_copy_4 {
    border-width: 3px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    position: absolute;
    left: 99px;
    top: 252px;
    width: 834px;
    height: 0;
    z-index: 24;
}
.Linha_cinza_copy_2 {
    border-width: 3px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    position: absolute;
    left: 99px;
    top: 374px;
    width: 834px;
    height: 0;
    z-index: 23;
}
.Linha_cinza_copy {
    border-width: 3px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    position: absolute;
    left: 99px;
    top: 334px;
    width: 834px;
    height: 0;
    z-index: 22;
}
.Linha_cinza {
    border-width: 3px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    position: absolute;
    left: 99px;
    top: 293px;
    width: 834px;
    height: 0;
    z-index: 21;
}
.Hover_linha {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1050px;
    height: 529px;
    z-index: 19;
}
.ico_close {
    background-color: rgb(202, 22, 46);
    position: absolute;
    left: 913px;
    top: 347px;
    width: 16px;
    height: 15px;
    z-index: 18;
}
.linha_cinza {
    background-color: rgb(247, 247, 247);
    position: absolute;
    left: 100px;
    top: 334px;
    width: 838px;
    height: 40px;
    z-index: 17;
}
.paginacao {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1050px;
    height: 529px;
    z-index: 14;
}
.ico_chevron_esq {
    background-color: rgb(210, 210, 210);
    position: absolute;
    left: 860px;
    top: 444px;
    width: 7px;
    height: 11px;
    z-index: 13;
}
.ico_chevron_dir {
    background-color: rgb(210, 210, 210);
    position: absolute;
    left: 931px;
    top: 444px;
    width: 8px;
    height: 11px;
    z-index: 12;
}
._2 {
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(131, 131, 131);
    line-height: 3.167;
    position: absolute;
    left: 914.667px;
    top: 430.498px;
    z-index: 11;
}
.paginacao_ativa {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1050px;
    height: 529px;
    z-index: 10;
}
._1 {
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(0, 129, 192);
    line-height: 3.167;
    position: absolute;
    left: 886.521px;
    top: 430.498px;
    z-index: 9;
}
.Ellipse_1 {
    border-width: 2px;
    border-color: rgb(67, 175, 235);
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    left: 877px;
    top: 435px;
    width: 23px;
    height: 23px;
    z-index: 8;
}
.Fundo_branco {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 81px;
    top: 147px;
    width: 883px;
    height: 344px;
    z-index: 5;
}
body{
    background-color: #e6ebee;
}
.header-colaboradores {
    font-size: 25px;
    font-family: "Myriad Pro";
    color: rgb(0, 129, 192);
    line-height: 1.52;
    -moz-transform: matrix( 0.82142604463439,0,0,0.8214260446344,0,0);
    -webkit-transform: matrix( 0.82142604463439,0,0,0.8214260446344,0,0);
    -ms-transform: matrix( 0.82142604463439,0,0,0.8214260446344,0,0);
    position: relative;
    left: 19px;
    top: 20px;
    z-index: 47;
}
